.menu {
    position: fixed;
    height: 100vh;
    width: 200px;
    background-color: rgb(246,246,246);
    box-shadow: 5px 4px 3px 0px rgba(34, 60, 80, 0.27);
}
h1 img{
    display: none; 
    width: 30px;
    margin-left: 10px;
}
.dash::before, .up::before, .maps::before, .nf::before, .sp::before {
    content: "";
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 10px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


.dash::before {
    background-image: url("../img/dashboard_gray.svg");
}
.up::before {
    background-image: url("../img/account_gray.svg");
}
.maps::before {
    background-image: url("../img/map_gray.svg");
    background-size: 30px;
}
.nf::before {
    background-image: url("../img/notify_gray.svg");
}
.sp::before {
    background-image: url("../img/support_gray.svg");
}
.dash:hover::before {
    background-image: url("../img/dashboard_white.svg");
} 
.up:hover::before {
    background-image: url("../img/account_white.svg");
} 
.maps:hover::before {
    background-image: url("../img/map_white.png");
    background-size: 20px;
}
.nf:hover::before {
    background-image: url("../img/notify_white.png");
}
.sp:hover::before {
    background-image: url("../img/support_white.png");
}
.menu li:hover {
    background-color: rgb(195,32,86);
    border-radius: 5px;
}
.menu li:hover a{
    color: white;
}
.menu a {
    display: flex;
    align-items: center;
    width: 100%;
}
.menu h1, .main h1 {
    margin: 20px;
}
.menu ul {
    list-style: none;
    padding-left: 0px;
    margin: 20px;
}
.menu li{
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
    color: black;
}
footer ul{
    display: flex;
    list-style: none;
    padding: 0px;
}
footer li {
    margin: 10px;
}
.year {
    margin: 10px 10px 10px auto;
}


@media screen and (min-width: 650px) and (max-width: 800px) {

    h1 img{
        display: inline; 
    }
    .menu {
        display: none;
    }

}

@media screen and (min-width: 500px) and (max-width: 650px) {

    h1 img{
        display: inline; 
    } 

    .menu {
        display: none;
    }

}
@media screen and (max-width: 500px) {

    h1 img{
        display: inline; 
    }
    .menu {
        display: none; 
    }

}