@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    box-sizing:border-box;
}
body {
    display: flex;
    font-family: 'Poppins', sans-serif;
}

.card, .chart, .board, .card_icon, .chart_icon, .board_menu, .board_head{ 
    border-radius: 5px;
}

.main {
    margin-left: 200px;
    width: calc(100% - 200px);
    padding: 0px 10px;
    height: 100%;
    background-color: rgb(234,234,234);
}

.main h1:hover {
    cursor: pointer;
    background-color: #f6f6f6;
    box-shadow: 5px 4px 3px 0px rgba(34, 60, 80, 0.27);
    border-radius: 10px;
}
.main h1 {
    padding-left: 10px;
}

.card_icon:hover, .chart_icon:hover, .board_menu:hover, .board_head:hover{
    transform: scale(1.01);
    margin-top: -20px ;
    transition: 1s;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 4px 4px 19px 0px rgba(34, 60, 80, 0.26);
}
.chart_box, .board_box, footer {
    display: flex;
}
.card_box {
    margin: 0px 10px 20px;
    display: flex;
    align-content: space-around;
    justify-content: center;
}
.card_case {
    display: flex;
    width: 50%;
}
.card {
    background-color: rgb(246,246,246);
    position: relative;
    height: 140px;
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: 10px;
    box-shadow: 5px 4px 3px 0px rgba(34, 60, 80, 0.27);
}

.card:hover, .chart:hover, .board:hover {
    background-color: white;
    transform: scale(1.02);
    box-shadow: 4px 4px 19px 0px rgba(34, 60, 80, 0.26);
    cursor: pointer;
}
.card_icon {
    position: absolute;
    box-shadow: 5px 4px 4px -3px rgba(34, 60, 80, 0.63);    
    padding: 10px;
    margin: -10px 10px
}
.card_sign, .chart_sign {
    font-size: 12px;
}
.green {
    background-color: rgb(68,139,0);
}
.yellow {
    background-color: rgb(216,158,36);
}
.blue {
    background-color: rgb(39,77,151);
}
.red {
    background-color: rgb(195,32,86);
}
.card_container {
    margin: 10px;
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
.price{
    font-size: 21px;
    font-weight: bolder;
    text-shadow: 2px 4px 3px rgba(175, 175, 175, 0.63);
}
.card_sign {
    margin: 10px;
    display: flex;
    align-items: center;
    border-top: 1px solid black;   
}
.card_sign img, .chart_sign img {
    padding: 10px;
}
.chart_icon img {
    width: 70%;
    

}
.chart_container span:first-child {
    color: rgb(66, 0, 0);
    font-size: 18px;
    font-weight: bolder;

}
.chart {
    background-color: rgb(246,246,246);
    position: relative;
    padding: 0px 10px;
    margin: 10px 10px; 
    width: calc(33% - 10px);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    box-shadow: 5px 4px 3px 0px rgba(34, 60, 80, 0.27);
}
.chart_icon {
    width: calc(100% - 20px);
    overflow: hidden;
    box-shadow: 5px 4px 4px -3px rgba(34, 60, 80, 0.63);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: -10px 10px
}
.chart_container {
    margin: 20px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; 
}
.chart_box {
    display:flex;
    margin: 10px;

}
.chart_sign {
    margin: 10px;
    display: flex;
    align-items: center;
    border-top: 1px solid black;
}
.board_box {
    margin: 10px;
}
.board_menu_list {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.board {
    background-color: rgb(246,246,246);
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 20px 10px;
    width: calc(50% - 10px);
    box-shadow: 5px 4px 3px 0px rgba(34, 60, 80, 0.27);
}
.board_menu {
    position: absolute;
    box-shadow: 5px 4px 4px -3px rgba(34, 60, 80, 0.63);
    width: calc(100% - 40px);
    height: 70px;
    margin: -10px 20px;
    display: flex;
    align-items: center;
    font-size: 13px;
}
.point:hover {
    background-color: rgb(230, 187, 94);
    cursor: pointer;
    border-radius: 8px;
}
.board_container_list {
    margin: 70px 10px 20px 10px;
    font-size: 13px;
}
.checkbox {
    width: calc(100% - 20px);
    display: flex;
    border-bottom: 1px solid grey;
    align-items: center;
    height: 70px;
    margin: 0px 10px;
    padding-left: 10px;
}
.text {
    width: 80%;
    margin-left: 10px;
}
.checkbox img {
    width: 20px;
    margin-right: 10px;
    margin-left: auto;
}
.menu_list {
    display: flex;
    align-items: center;
    padding: 5px;
    height: 40px;
    margin-left: 10px;
}
 .click input{
    width: 40px;
}
.menu_list img {
    margin: 5px;
    width: 20px;
}
.board_head {
    position: absolute;
    box-shadow: 5px 4px 4px -3px rgba(34, 60, 80, 0.63); 
    color: white;
    width: calc(100% - 40px);
    height: 70px;
    margin: -10px 20px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: center;
    font-size: 13px;
}
.board_table {
    margin: 70px 10px 20px 10px;
    font-size: 13px;
}
.board_table li {
    width: calc(100% - 20px);
    margin-left: 10px;
    height: 40px;
    margin: 10px;
    display:flex;
    border-bottom: 1px solid grey;
    align-items: center;
}
.checkbox:hover {
    background-color: rgba(255, 189, 46, 0.395);
    transition: background-color 1s cubic-bezier(1, 0.8, 0.5, 2), color 2s 1s linear;
}
.checkbox:active {
    background-color: rgba(247, 195, 84, 0.813);
}

.id {
    width: 10%;
}
.name {
    width: 30%;
}
.board_table li:first-child {
    color: rgb(22 174 174);
    font-weight: bolder;
   } 



.board ul {
    padding: 0px;
    list-style: none;
}
a {
    text-decoration: none;
    color: black;
}
@media screen and (min-width: 800px) and (max-width: 1000px) {
    .card_box {
        flex-direction: column;
    }
    .card_case {
        width: 100%;
    }
    .board_box {
        flex-direction: column;
    }
    .board {
        width: calc(100% - 20px);
    }
    .chart_sign {
        font-size: 12px;
    }
    .chart_container {
        font-size: 14px;
    }
    .price {
        font-size: 25px;
    }


}
@media screen and (min-width: 650px) and (max-width: 800px) {
    .card_box {
        flex-direction: column;
    }

    .card_case {
        width: 100%;
    }
    .board_box {
        flex-direction: column;
    }
    .board {
        width: calc(100% - 20px);
    }
    .chart_sign {
        font-size: 10px;
    }
    .chart_container {
        font-size: 14px;
    }

    .main {
        width: 100%;
        margin-left: 0px;
    }
    .price {
        font-size: 25px;
    }

}
@media screen and (min-width: 500px) and (max-width: 650px) {
    .card_box {
        flex-direction: column;
    }

    .card_case {
        width: 100%;
    }
    .board_box {
        flex-direction: column;
        margin: 20px;
    }
    .board {
        width: 100%;
        margin: 20px 0px;
     
    }
    .chart_sign {
        font-size: 10px;
    }
    .chart_container {
        font-size: 14px;
    }

    .main {
        width: 100%;
        margin-left: 0px;
    }
    .chart_box {
        flex-direction: column;
        margin: 20px;
    }
    .chart {
        width: 100%;
        margin: 10px 0px;
   
    }
    .price {
        font-size: 25px;
    }

}
@media screen and (min-width: 350px) and (max-width: 500px) {
    .card_box {
        flex-direction: column;
        
    } 
    .card_case {
        width: 100%;
    }
    .board_box {
        flex-direction: column;
    }
    .board {
        width: calc(100% - 20px);
    }
    .chart_sign {
        font-size: 10px;
    }
    .chart_container {
        font-size: 14px;
    }


    .main {
        width: 100%;
        margin:0px;
        padding: 0px;
    }
    .chart_box {
        flex-direction: column;
        margin: 10px 20px;
    }
    .chart {
        width: 100%;
        margin: 10px 0px;
    }
    .card_case {
        flex-direction: column;
    }
    .card {
        width: calc(100% - 20px);
    }
    .price {
        font-size: 25px;
    }

    footer {
        font-size: 10px;
    }
    .menu_list {
        font-size: 12px;
        padding: 1px;
        margin: 1px;
        }
    .menu_list img {
        padding: 1px;
        margin: 1px;
    }
    .board_container {
        font-size: 13px;
    }
    .board_head {
        font-size: 12px;
    }
    .checkbox {
        height: 90px;

    }
}
@media screen  and (max-width: 350px) {
    .card_box {
        flex-direction: column;
        margin: 10px 0px;
    } 
    .card_case {
        width: 100%;
    }
    .board_box {
        flex-direction: column;
    }
    .board {
        width: 100%;
        margin: 20px 0px;
        padding: 0px;
    }
    .chart_sign {
        font-size: 10px;
    }
    .chart_container {
        font-size: 14px;
    }


    .main {
        width: 100%;
        margin:0px;
        padding: 0px;
    }
    .chart_box {
        flex-direction: column;
    }
    .chart {
        width: 100%;
        margin: 10px 0px;
    }
    .card_case {
        flex-direction: column;
    }
    .card {
        width: calc(100% - 20px);
    }
    .price {
        font-size: 25px;
    }

    footer {
        font-size: 10px;
    }
    .menu_list {
        font-size: 12px;
        padding: 1px;
        margin: 1px;
        }
    .menu_list img {
        padding: 1px;
        margin: 1px;
    }
    .board_container {
        font-size: 12px;
    }
    .board_head {
        font-size: 12px;
    }
    .board_table {
        font-size: 12px;
    }
    .checkbox {
        height: 100px;

    }
}